# dependencies
/node_modules

# production
build

# local env files
.env
.env.*
!.env.example

# design tokens
src/styles/themes

# local Netlify folder
.netlify

# Ignore intellij IDE config
/.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
[Tt]humbs.db
.DS_Store
.dccache
.cache
