.picture {
	position: relative;
	display: block;
	aspect-ratio: 1/1;
}

.image {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
}

.content {
	padding: var(--base-space-container-stack-m);
}

.title {
	color: var(--base-color-fg-default);
	font-family: var(--base-typography-title-xxxl-font-family);
	font-size: var(--base-typography-title-xxxl-font-size);
	font-weight: var(--base-typography-title-xxxl-font-weight);
	line-height: var(--base-typography-title-xxxl-line-height);
}

.bodyText {
	margin-block-start: var(--base-space-container-stack-s);
	color: var(--base-color-fg-weak);
	font-family: var(--base-typography-body-m-font-family);
	font-size: var(--base-typography-body-m-font-size);
	font-weight: var(--base-typography-body-m-font-weight);
	line-height: var(--base-typography-body-m-line-height);
}
