@font-face {
	font-family: juana;
	font-weight: 400;
	src: url('/fonts/juana/juana-regular.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: juana;
	font-weight: 700;
	src: url('/fonts/juana/juana-bold.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: juana;
	font-weight: 900;
	src: url('/fonts/juana/juana-black.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova Alt';
	font-weight: 100;
	src: url('/fonts/proxima-nova/proxima-nova-thin.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova Alt';
	font-weight: 300;
	src: url('/fonts/proxima-nova/proxima-nova-light.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova Alt';
	font-weight: 400;
	src: url('/fonts/proxima-nova/proxima-nova-regular.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova Alt';
	font-weight: 600;
	src: url('/fonts/proxima-nova/proxima-nova-semi-bold.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova Alt';
	font-weight: 700;
	src: url('/fonts/proxima-nova/proxima-nova-bold.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova Alt';
	font-weight: 800;
	src: url('/fonts/proxima-nova/proxima-nova-extra-bold.woff2')
		format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova Alt';
	font-weight: 900;
	src: url('/fonts/proxima-nova/proxima-nova-black.woff2') format('woff2');
	font-display: swap;
}
