.card {
	max-inline-size: 35rem;
	margin-inline: auto;
	background-color: var(--base-color-bg-cloudy);
}

.picture {
	position: relative;
	display: block;
	aspect-ratio: 3/2;
	background-color: var(--base-color-fg-weak);
}

.image {
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 0;
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}

.content {
	display: grid;
	gap: var(--base-space-container-inside-m);
	padding-block: var(--base-card-space-default);
}

.contentWithPadding {
	padding-inline: var(--base-card-space-default);
}

.title {
	color: var(--base-color-fg-default);
	font-family: var(--base-typography-title-l-font-family);
	font-size: var(--base-typography-title-l-font-size);
	font-weight: var(--base-typography-title-l-font-weight);
	line-height: var(--base-typography-title-l-line-height);
}

.bodyText {
	color: var(--base-color-fg-weak);
	font-family: var(--base-typography-body-m-font-family);
	font-size: var(--base-typography-body-m-font-size);
	font-weight: var(--base-typography-body-m-font-weight);
	line-height: var(--base-typography-body-m-line-height);
}

.cta {
	justify-self: start;
}
